* {
  margin: 0;
  padding: 0;
}

/*==================================================
 Global CSS Reset start here
 ==================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  outline: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
  outline: none !important;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #000;
}
img,
object,
iframe {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-family: "nexa_boldregular";
}
body {
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  color: #000;
  font-family: "nexa_lightregular";
}

p {
  margin-bottom: 20px;
  color: #000;
  font-family: "nexa_lightregular";
}
html {
  -webkit-text-size-adjust: 100%;
}
section {
  overflow: hidden;
}
a:hover {
  color: #5846fb;
}
img,
a {
  display: block;
}

@font-face {
  font-family: "megrimmedium";
  src: url("./fonts/megrim-regular-webfont.eot");
  src: url("./fonts/megrim-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/megrim-regular-webfont.woff2") format("woff2"),
    url("./fonts/megrim-regular-webfont.woff") format("woff"),
    url("./fonts/megrim-regular-webfont.ttf") format("truetype"),
    url("./fonts/megrim-regular-webfont.svg#megrimmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "nexa_boldregular";
  src: url("./fonts/nexa-bold-webfont.eot");
  src: url("./fonts/nexa-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/nexa-bold-webfont.woff2") format("woff2"),
    url("./fonts/nexa-bold-webfont.woff") format("woff"),
    url("./fonts/nexa-bold-webfont.ttf") format("truetype"),
    url("./fonts/nexa-bold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nexa_lightregular";
  src: url("./fonts/nexa-light-webfont.eot");
  src: url("./fonts/nexa-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/nexa-light-webfont.woff2") format("woff2"),
    url("./fonts/nexa-light-webfont.woff") format("woff"),
    url("./fonts/nexa-light-webfont.ttf") format("truetype"),
    url("./fonts/nexa-light-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsregular";
  src: url("./fonts/poppins-regular-webfont.eot");
  src: url("./fonts/poppins-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("./fonts/poppins-regular-webfont.woff") format("woff"),
    url("./fonts/poppins-regular-webfont.ttf") format("truetype"),
    url("./fonts/poppins-regular-webfont.svg#poppinsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
::after,
::before {
  box-sizing: border-box;
}
/*==================================================
 Global CSS Reset end here 
 ==================================================*/
header.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  background-color: #fff;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.row_hrd {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.header .container {
  max-width: 1234px;
}
.container {
  max-width: 1234px;
}
.logo {
  display: block;
  border-right: 1px solid #e6e8ec;
  padding-right: 40px;
  margin-right: 40px;
}
.hrd_select {
  color: #3b71fe;
  border: 0;
  font-size: 14px;
  font-family: "nexa_boldregular";
  appearance: none;
  width: 100%;
  cursor: pointer;
}
/* .hrd_select select option {
  color: #000;
  font-family: "poppinsregular";
} */
.hrd_select {
  width: 130px;
  position: relative;
  margin-right: 47px;
}
/* .hrd_select:before {
  content: "";
  background-image: url("/public/images/arrow_down.svg");
  width: 10px;
  height: 6px;
  right: 0;
  top: 10px;
  pointer-events: none;
  position: absolute;
} */
.hrd_menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hrd_menu ul li a {
  font-size: 14px;
  display: block;
  color: #23262f;
  font-family: "nexa_boldregular";
}
.hrd_menu ul li {
  padding: 0 30px;
}
.hrd_btn ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hrd_btn ul li:first-child a {
  border: 2px solid #e6e8ec;
  font-size: 16px;
  color: #23262f;
  display: inline-block;
  font-family: "nexa_boldregular";
  padding: 9px 30px;
  border-radius: 90px;
}
.hrd_btn ul li:last-child a {
  border: 2px solid #3b71fe;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  font-family: "nexa_boldregular";
  padding: 9px 30px;
  border-radius: 90px;
  background: #3b71fe;
}
.hrd_btn ul li:last-child {
  margin-left: 10px;
}
.home_sec1 video {
  width: 100%;
  border-radius: 49px;
  display: block;
}
.home_sec1 {
  margin-top: 136px;
  position: relative;
}
.home_sec1_content {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.home_sec1_content h1 {
  color: #fff;
  font-size: 76px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 10px;
  font-family: "nexa_lightregular";
}
.home_sec1_content p {
  color: #fff;
  font-size: 22px;
  text-align: center;
}
.home_sec1_content h1 span,
.home_sec1_content p span {
  display: block;
}
.home_sec1_content a.btn {
  display: table;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  font-family: "nexa_boldregular";
  padding: 11px 30px;
  border-radius: 90px;
  background: #3b71fe;
}
.home_sec2 {
  display: flow-root;
  width: 100%;
  padding-top: 55px;
}
.home_sec2 h2 {
  letter-spacing: -0.01em;
  color: #23262f;
  font-size: 32px;
  padding-bottom: 25px;
}
.home_sec2_content {
  position: relative;
  width: 100%;
  text-align: center;
}
.home_sec2_content > div {
  position: absolute;
  bottom: 12px;
  width: 100%;
}
.home_sec2_content h4 {
  font-family: "megrimmedium";
  font-size: 20px;
  color: #2a2627;
  font-weight: 500;
  padding-bottom: 5px;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.col-md-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-md-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-lg-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-sm-6 {
  flex: 0 0 auto;
  width: 50%;
}

.btn-transparant {
  background: white !important;
  padding: 16px 0;
  font-family: "Nexa-Bold";
  border: 1px solid #e5e6eb !important;
}

@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-3 {
  gap: 1rem !important;
}

.flex-warp {
  flex-wrap: wrap;
}

.gap-5 {
  gap: 2rem !important;
}

.home_sec2_content .explore_btn {
  border: 2px solid #e6e8ec;
  font-size: 16px;
  color: #23262f;
  display: inline-block;
  font-family: "nexa_boldregular";
  padding: 7px 25px;
  border-radius: 90px;
}
.home_sec3 {
  background: #fcfcfd;
  width: 100%;
  display: flow-root;
  margin-top: 65px;
  padding-top: 75px;
  padding-bottom: 150px;
}
.img__sec3 {
  position: relative;
  height: 400px;
  display: flex;
}
.img__sec3 img {
  width: 100%;
  object-fit: cover;
}
.img__sec3 b {
  color: #23262f;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 1;
}
.home_sec3_main {
  background: #fcfcfd;
  border: 1px solid #e6e8ec;
  width: 100%;
  display: flow-root;
  border-radius: 24px;
  overflow: hidden;
}
.home_sec3 .col-12 {
  padding-left: 16px;
  padding-right: 16px;
}
.home_sec3 .row {
  margin: 0 -16px;
}
.home_sec3_content {
  padding: 25px;
  width: 100%;
  display: flow-root;
}
.home_sec3_row {
  border-bottom: 1px solid #e6e8ec;
  padding-bottom: 22px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_sec3_row h5 {
  font-size: 16px;
  padding-bottom: 6px;
}
.home_sec3_row p img {
  margin-right: 6px;
}
.home_sec3_row p {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0;
}
.home_sec3_row_right {
  border: 2px solid #58c27d;
  border-radius: 4px;
  padding: 6px;
}
.home_sec3_row_right h6 {
  font-size: 12px;
  color: #b1b5c4;
  text-align: center;
  text-transform: uppercase;
}
.home_sec3_row_right h6 strong {
  color: #58c27d;
  display: block;
  padding-top: 5px;
}
.home_sec3_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_sec3_bottom > div {
  display: flex;
  align-items: center;
  color: #23262f;
  font-size: 12px;
  font-family: "nexa_boldregular";
}
.home_sec3_bottom > div img {
  margin-right: 6px;
}
.home_sec3_bottom > div i {
  font-family: "nexa_lightregular";
  margin-left: 10px;
  font-style: normal;
}
.home_sec3 h2 {
  letter-spacing: -0.01em;
  color: #23262f;
  font-size: 32px;
  padding-bottom: 25px;
}
.home_sec3 .col-12 {
  margin-bottom: 32px;
}
.home_sec4 {
  background: #4a4a4a;
  border-radius: 35px;
  width: 100%;
  display: flow-root;
  padding: 50px;
  margin-top: -50px;
  padding-bottom: 0;
  overflow: initial;
}
span.sec4_oracle {
  padding-bottom: 30px;
  display: block;
}
.home_sec4 h3 {
  letter-spacing: -0.01em;
  color: #ffffff;
  font-size: 32px;
  padding-bottom: 20px;
}
.home_sec4 h3 abbr {
  display: block;
  font-family: "nexa_boldregular";
}
.home_sec4 p {
  color: #fff;
}
.btn_sec4 {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  font-family: "nexa_boldregular";
  padding: 11px 30px;
  border-radius: 90px;
  background: #3b71fe;
  overflow: initial;
}
span.sec4_img {
  display: block;
  margin-bottom: -30px;
}
.home_sec5 {
  margin-top: 85px;
  width: 100%;
  display: flow-root;
  text-align: center;
}
.home_sec5 span {
  margin: 0 auto 50px;
  display: table;
}
.home_sec5 h2 {
  letter-spacing: -0.01em;
  color: #23262f;
  font-size: 32px;
  padding-bottom: 25px;
}
.home_sec5 p {
  font-size: 18px;
  color: #afafaf;
  max-width: 661px;
  width: 100%;
  margin: 0 auto 30px;
}
.home_sec5 h2 abbr {
  display: block;
}
.home_sec5_btn {
  border: 2px solid #e6e8ec;
  font-size: 16px;
  color: #23262f;
  display: inline-block;
  font-family: "nexa_boldregular";
  padding: 9px 30px;
  border-radius: 90px;
}
.home_sec6 {
  margin-top: 75px;
  background-color: #cdf3de;
  padding-right: 0;
  padding-top: 120px;
}
.home_sec6 h3 {
  color: #000;
}
.home_sec6 p {
  color: #191919;
}
.home_sec6 ul {
  display: flex;
  padding-bottom: 100px;
}
.home_sec6 ul li {
  margin-right: 15px;
}
.home_sec6 ul li a {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  background: #3b71fe;
  font-family: "nexa_boldregular";
  padding: 11px 30px;
  border-radius: 90px;
}
.home_sec6 ul li:last-child a {
  background-color: #fff;
  color: #23262f;
}
.home_sec6 span.sec4_img {
  display: flex;
  margin-bottom: 0;
  justify-content: flex-end;
}
.home_sec6 .row {
  align-items: center;
}
footer {
  background: #fcfcfd;
  padding-top: 65px;
  margin-top: 95px;
  width: 100%;
  display: flow-root;
}
footer .col-md-2 {
  border-right: 1px solid #d9d9d9;
}
footer h3 {
  font-size: 32px;
  color: #707070;
  letter-spacing: -0.01em;
  padding-bottom: 10px;
  padding-left: 30px;
}
footer ul {
  padding-left: 30px;
}
footer ul li a {
  color: #707070;
  letter-spacing: -0.01em;
  font-size: 32px;
  display: block;
  padding-bottom: 3px;
}
footer ol {
  padding-left: 20px;
}
footer ol li a {
  color: #707070;
  letter-spacing: -0.01em;
  font-size: 24px;
  display: block;
  padding-bottom: 3px;
}
span.ftr_img {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-top: 50px;
}
.ftr_bottom {
  width: 100%;
  display: flow-root;
  padding: 15px 0;
  background: #eaeaea;
}
.ftr_bottom_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ftr_bottom_row ul li a {
  color: #707070;
  padding: 0 15px;
}
.ftr_bottom_row p {
  margin: 0;
  color: #707070;
}
.ftr_bottom_row ul {
  display: flex;
}
.explore_category_sec {
  /* margin-top: 115px; */
  overflow: initial;
}
.explore_category_sec h2 {
  color: #2a2627;
  font-size: 36px;
  font-family: "nexa_lightregular";
  padding-bottom: 30px;
  font-weight: 400;
}
.category_hedding {
  display: inline-block;
  width: 100%;
}
.category_hedding h5 {
  color: #2a2627;
  font-size: 24px;
  padding-bottom: 5px;
}
.category_hedding p {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: #777e91;
  font-size: 12px;
  font-family: "poppinsregular";
  margin-bottom: 10px;
}
.category_hedding p img {
  margin-right: 6px;
}
.img_explore_sec {
  display: table;
  position: relative;
}
.img_explore_sec img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.img_explore_sec p {
  position: absolute;
  background: #f4f5f6;
  border-radius: 20px;
  bottom: -20px;
  right: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #777e91;
  font-size: 14px;
  font-family: "poppinsregular";
  padding: 8px 20px;
}
.img_explore_sec p img {
  border-radius: 0;
}
.img_explore_sec p img {
  border-radius: 0;
  margin-right: 8px;
}
.col-md-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-md-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.category__right_main {
  background: #fcfcfd;
  width: 100%;
  padding: 30px;
  border: 1px solid #e6e8ec;
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.08);
  border-radius: 24px;
}
.category__right_row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.star__img {
  position: relative;
}

.category__right_row3 ul li:last-child button {
  width: 100%;
  border: 2px solid #3b71fe;
  font-size: 16px;
  color: #fff;
  font-family: "nexa_boldregular";
  padding: 10px 10px;
  border-radius: 90px;
  background: #3b71fe;
}

.star__img img {
  border-radius: 50%;
}
.star__img span {
  position: absolute;
  top: 8px;
  right: 0;
}
.star__img span img {
  border-radius: 0;
}
.category__right_row1 h3 {
  letter-spacing: -0.01em;
  color: #23262f;
  font-size: 32px;
}
.category__right_row1 h3 b {
  color: #b1b5c4;
  padding-left: 20px;
  margin-right: 5px;
  position: relative;
}
.category__right_row1 h3 b:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background: #b1b5c4;
  left: 0;
  top: 50%;
}
.category__right_row1 h3 small {
  color: #777e91;
  font-family: "nexa_lightregular";
  font-size: 16px;
  font-weight: 400;
}
.star__rating {
  display: flex;
  color: #23262f;
  font-family: "nexa_boldregular";
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
}
.star__rating img {
  margin-right: 10px;
  width: 20px;
}
.star__rating i {
  font-style: normal;
  font-family: "nexa_lightregular";
  font-weight: 400;
  margin-left: 10px;
}
.category__right_row2 {
  background: #f4f5f6;
  border-radius: 20px;
  width: 100%;
  display: flow-root;
  padding: 30px;
  margin-top: 32px;
}
.category__right_row2 ul {
  display: flex;
  flex-wrap: wrap;
}
.category__right_row2 ul li {
  width: 50%;
  padding-left: 38px;
  position: relative;
  margin-bottom: 30px;
}
.category__right_row2 ul li span {
  position: absolute;
  left: 0;
  top: 0;
}
.category__right_row2 ul li h4 {
  color: #777e91;
  font-size: 12px;
  font-family: "nexa_lightregular";
  font-weight: 400;
}
.category__right_row2 ul li h4 b {
  display: block;
  color: #23262f;
  font-size: 16px;
  font-family: "nexa_boldregular";
  font-weight: 700;
  padding-top: 5px;
}
.category__right_row2 ul li:last-child {
  margin-bottom: 0;
}
.category__right_row2 ul li:before {
  content: "";
  background: #e6e8ec;
  right: 20px;
  position: absolute;
  width: 1px;
  height: 100%;
}
.category__right_row2 ul li:last-child:before {
  display: none;
}
.category__right_row2 ul li:nth-child(2)::before {
  display: none;
}
.category__right_row3 {
  padding-top: 32px;
  display: flow-root;
  width: 100%;
}
.category__right_row3 ul {
  display: flex;
  justify-content: space-between;
}
.category__right_row3 ul li {
  width: 48%;
}
.category__right_row3 ul li a {
  width: 100%;
  border: 2px solid #e6e8ec;
  font-size: 16px;
  color: #23262f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "nexa_boldregular";
  padding: 10px 10px;
  border-radius: 90px;
}
.category__right_row3 ul li:last-child a {
  border: 2px solid #3b71fe;
  font-size: 16px;
  color: #fff;
  font-family: "nexa_boldregular";
  padding: 10px 10px;
  border-radius: 90px;
  background: #3b71fe;
}
.category__right_row3 ul li:last-child a img {
  margin-left: 8px;
}
.right_row3_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 30px;
}
.right_row3_tag img {
  margin-right: 8px;
}
.psychic_details {
  margin-top: 115px;
  overflow: initial;
}
.back_btn a {
  display: flex;
  align-items: center;
  color: #4d5461;
  font-family: "nexa_boldregular";
}
.back_btn a img {
  margin-right: 8px;
}
.back_btn {
  padding-bottom: 15px;
}
.psychic_details video {
  width: 100%;
  display: block;
}
.psychic_details .img_explore_sec span {
  border-radius: 12px;
  display: block;
  overflow: hidden;
}
img.shape_star {
  margin-left: 20px;
  top: -2px;
  position: relative;
}
.psychic_details2 {
  padding-top: 85px;
}
.psychic_details2_left h2 {
  color: #23262f;
  letter-spacing: -0.01em;
  font-size: 32px;
  border-bottom: 1px solid #e6e8ec;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
ul.psychic_details2_ul {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
ul.psychic_details2_ul li {
  display: flex;
  align-items: center;
  color: #777e91;
  font-size: 13.5px;
  margin-right: 20px;
}
ul.psychic_details2_ul li img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.psychic_details2_left h3 {
  color: #23262f;
  font-size: 24px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.psychic_details2_ul2 {
  display: flex;
  flex-wrap: wrap;
}
.psychic_details2_ul2 li {
  width: 45%;
  color: #777e91;
  font-family: "nexa_boldregular";
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}
.psychic_details2_ul2 li img {
  margin-right: 15px;
}
.psychic_details2_ul2 li:nth-child(even) {
  border-left: 1px solid #e6e8ec;
  padding-left: 100px;
  width: 55%;
}
.btn_profesa {
  margin-top: 50px;
}
.btn_profesa a {
  border: 2px solid #e6e8ec;
  font-size: 16px;
  color: #23262f;
  display: inline-block;
  font-family: "nexa_boldregular";
  padding: 9px 30px;
  border-radius: 90px;
}
.pe-md-5 {
  padding-right: 3rem !important;
}
.right_row3_table {
  margin-top: 32px;
}
.right_row3_table tr td {
  color: #23262f;
  font-size: 14px;
  padding: 8px 15px;
}
.right_row3_table tr td b {
  font-family: "nexa_boldregular";
}
.total_colm {
  background: #f4f5f6;
}
.right_row3_table tr td:nth-child(even) {
  text-align: right;
}
.right_row3_table tr .total_colm:nth-child(even) {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.right_row3_table tr .total_colm:nth-child(odd) {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
ul.psychic_details2_ul li:last-child {
  margin-right: 0;
}
span.main_img_explore {
  position: relative;
}
span.main_img_explore img.img_explore_blur {
  filter: blur(6px);
}
.img_explore_sec {
  width: 100%;
}
.main_img_explore {
  width: 100%;
  height: 400px;
}
.img_explore_blur {
  width: 100%;
}
span.center_img_explore {
  position: absolute;
  top: 50%;
  display: flex;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align-left {
  align-items: baseline !important;
}

.justify-content-center {
  justify-content: center !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #fff !important;
}

.learn_about {
  background-color: #fff !important;
  border: 1px solid rgb(174, 172, 172);
  color: rgb(171, 169, 169) !important;
}
/* Media  query implement */
.img_explore_sec {
  height: auto;
}
@media only screen and (max-width: 767px) {
  .img_explore_sec {
    height: auto;
  }
  .home_sec1 {
    margin-top: 76px;
  }
  .home_sec1_content {
    position: relative;
  }
  .home_sec1 video {
    border-radius: 20px;
  }
  .home_sec1_content h1 {
    color: #23262f;
    font-size: 32px;
    padding-top: 30px;
  }
  .home_sec1_content h1 span,
  .home_sec1_content p span {
    display: initial;
  }
  .home_sec1_content p {
    color: #000;
    font-size: 18px;
  }
  .home_sec2 h2 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .home_sec3 {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .home_sec3 h2 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home_sec3 .col-12 {
    margin-bottom: 20px;
  }
  .img__sec3 b {
    padding: 8px 10px;
    top: 10px;
    left: 10px;
  }
  .home_sec3_content {
    padding: 15px;
  }
  .home_sec3_row p {
    align-items: flex-start;
  }
  .home_sec3_row {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .home_sec3_main {
    border-radius: 14px;
  }
  .home_sec3_bottom h4 {
    font-size: 14px;
  }
  .home_sec3_bottom > div {
    align-items: baseline;
  }
  .home_sec3_bottom > div img {
    top: 1px;
    position: relative;
  }
  .home_sec4 {
    border-radius: 20px;
    padding: 25px;
  }
  .home_sec4 h3 {
    font-size: 24px;
  }
  .home_sec4 h3 abbr,
  .home_sec5 h2 abbr {
    display: initial;
  }
  span.sec4_img {
    margin-bottom: -50px;
    margin-top: 30px;
  }
  .home_sec5 {
    margin-top: 75px;
  }
  .home_sec5 span {
    margin: 0 auto 30px;
  }
  .home_sec5 h2 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .home_sec5 p {
    font-size: 16px;
    margin: 0 auto 20px;
  }
  .home_sec6 {
    margin-top: 60px;
  }
  .home_sec6 ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .home_sec6 ul li a {
    padding: 11px 20px;
    font-size: 14px;
  }
  .home_sec6 ul li {
    margin-bottom: 10px;
  }
  .home_sec6 span.sec4_img {
    margin-right: -25px;
    margin-bottom: -25px;
  }
  footer {
    padding-top: 45px;
    margin-top: 60px;
  }
  span.ftr_logo {
    margin-bottom: 15px;
    display: block;
  }
  footer h3 {
    padding-left: 0;
    font-size: 22px;
  }
  footer ul {
    padding-left: 0;
  }
  footer ul li a {
    font-size: 18px;
  }
  footer ol {
    padding-left: 0;
    padding-top: 10px;
  }
  footer ol li a {
    font-size: 16px;
  }
  span.ftr_img {
    padding-top: 30px;
  }
  .ftr_bottom_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .ftr_bottom_row ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  .ftr_bottom_row p {
    text-align: center;
  }
  footer .col-md-3 {
    width: 50%;
  }
  .explore_category_sec {
    margin-top: 76px;
  }
  .explore_category_sec h2 {
    padding-bottom: 20px;
    font-size: 28px;
  }
  .category_hedding h5 {
    font-size: 20px;
  }
  .img_explore_sec p {
    padding: 6px 20px;
    font-size: 12px;
    align-items: baseline;
  }
  .category__right_main {
    margin-top: 50px;
    padding: 20px;
    border-radius: 16px;
  }
  .category__right_row1 h3 {
    font-size: 22px;
  }
  .category__right_row1 h3 small {
    font-size: 14px;
  }
  .category__right_row1 {
    flex-direction: column;
  }
  .star__img {
    margin-top: 10px;
  }
  .category__right_row2 {
    padding: 20px;
    margin-top: 22px;
  }
  .category__right_row2 ul li {
    margin-bottom: 20px;
    width: 100%;
  }
  .category__right_row3 ul {
    flex-direction: column;
  }
  .category__right_row3 ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  .category__right_row3 ul li a,
  .category__right_row3 ul li:last-child a {
    font-size: 14px;
  }
  .right_row3_tag {
    padding-top: 20px;
  }
  .psychic_details {
    margin-top: 76px;
  }
  .back_btn a {
    font-size: 14px;
  }
  img.shape_star {
    top: 2px;
  }
  .img_explore_sec p img {
    margin-right: 5px;
  }
  ul.psychic_details2_ul {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    flex-direction: column;
  }
  ul.psychic_details2_ul li {
    padding-bottom: 10px;
  }
  .psychic_details2_left h2 {
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .psychic_details2 {
    padding-top: 75px;
  }
  .psychic_details2_ul2 li {
    width: 100%;
  }
  .psychic_details2_ul2 li:nth-child(even) {
    border-left: 0;
    padding-left: 0;
    width: 100%;
  }
  .btn_profesa {
    margin-top: 30px;
  }
  .img__sec3 {
    height: auto;
  }
  .home_sec3_row p {
    flex-wrap: wrap;
  }
}

.typeHeading {
  /* text-transform: uppercase !important; */
}
.slick-track {
  /* width: auto !important; */
  margin-left: 0 !important;
}
/* .slick-slide {
  width: 300px !important;
} */
.img-user {
  max-height: 400px;
}

.cursor-pointer {
  cursor: pointer;
}

.loader-class {
  position: absolute;
  left: 50%;
  top: 50%;
}
.card-img {
  height: 100px;
  width: 65px;
  object-fit: cover;
}

.proffesional-card-img {
  height: 65px;
  width: 65px;
}

.btn-link {
  color: black;
  font-family: "Nexa-bold";
}

section.home_sec11 {
  background: #fff8bd;
  border-radius: 35px;
  width: 100%;
  display: flow-root;
  position: relative;
  margin-top: 124px;
}
section.home_sec11 .home_sec1_content h1 {
  font-size: 71px;
  color: #191919;
  font-family: "Nexa-Bold";
  text-align: left;
  line-height: 1.15;
}

section.home_sec11 .home_sec1_content h1 span{
  font-family: "Nexa-Bold";
}
section.home_sec11 .home_sec1_content p {
  color: #040404;
}
section.home_sec11 .home_sec1_content p {
  text-align: left;
}
section.home_sec11 .home_sec1_content {
  display: flex;
  padding-top: 60px;
  align-items: initial;
  padding-left: 70px;
  position: relative;
}
section.home_sec11 ul {
  display: flex;
}
section.home_sec11 ul li {
  margin-right: 15px;
}
section.home_sec11 ul li a {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  background: #3b71fe;
  font-family: "nexa_boldregular";
  padding: 11px 30px;
  border-radius: 90px;
}
section.home_sec11 ul li:last-child a {
  background-color: #fff;
  color: #23262f;
}
.home_sec11_img {
  margin-top: -180px;
  display: block;
}
